<p-menubar>
    <ng-template pTemplate="start">
        <h2 class="logo"><img src="../../assets/wg-admin-ticket-logo.png" alt="logo"></h2>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="user-profile">
            <img src="../../assets/user.png" alt="user-avatar" (click)="menu.toggle($event)">
            <p-tieredMenu #menu class="tiered-menu" [model]="dropdownOptions" [popup]="true"></p-tieredMenu>
            <div class="profile-text">
                <h5>{{ name | titlecase}}</h5>
                <p>{{ role | titlecase }}</p>
            </div>
        </div>
    </ng-template>
</p-menubar>
<app-sub-header></app-sub-header>