.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.login-heading {
    color: #AF0000;
    font-weight: 700;
}

.login-div > button {
    background-color: #AF0000;
    width: 100%;
}

.login-field {
    border: 1px solid black;
}