:host ::ng-deep .p-dropdown-items{
    padding: 0;
}
:host ::ng-deep p-chart{
    height: 25vh;
    width: 25vw;
}

.donut {
    height: 60vh;
    width: 43vw;
    display: flex;
    align-items: center;
    /* justify-content: top; */
}

.card-detail{
    padding: 0.5em;
    text-align: center;
}

.tickets-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tickets-header-dropdowns {
    align-items: flex-end;
    padding-left: 20vw;
}

.spacer {
    padding-right: 1em;
}

.space-left {
    padding-left: 1em;
}

.stage-box {
    height: 13vh;
    color: #fff;
    background-color: #AF0000;
    border-radius: 3px;
}


@media all and (orientation: landscape) and (min-aspect-ratio: 16/9) {
    .donut {
        height: 60vh;
        width: 43vw;
        display: flex;
        align-items: center;
    }
    :host ::ng-deep p-chart{
        height: 25vh;
        width: 25vw;
    }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
    :host ::ng-deep p-chart{
        height: 35vh;
        width: 35vw;
    }
    .donut {
        display: flex;
        height: 60vh; 
        width: 100%; 
    }
}