<div class="container">
  <br /><br />
  <div class="row">
    <div class="col-sm">
      <div class="card donut">
        <p-chart type="doughnut" [data]="data" [options]="options" />
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-detail">
        <!-- <p-table
          [value]="stats"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': '30rem' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Stages
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Raised</th>
              <th>In Progress</th>
              <th>In Review</th>
              <th>Closed</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-stat>
            <tr>
              <td>{{ stat.raised }}</td>
              <td>{{ stat.in_prog }}</td>
              <td>{{ stat.review }}</td>
              <td>{{ stat.closed }}</td>
            </tr>
          </ng-template>
        </p-table> -->
        <p-table
          [value]="stats"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': '30rem' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-center stage-box">
              Stages
            </div>
          </ng-template>
          <ng-template pTemplate="body" let-stat>
            <tr>
              <td>Raised</td>
              <td>{{stat.raised}}</td>
            </tr>
            <tr>
              <td>In Progress</td>
              <td>{{stat.in_prog}}</td>
            </tr>
            <tr>
              <td>In Review</td>
              <td>{{stat.review}}</td>
            </tr>
            <tr>
              <td>Closed</td>
              <td>{{stat.closed}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <p-table
          [value]="tickets"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': '30rem' }"
        >
          <ng-template pTemplate="caption">
            <!-- <div class="flex align-items-center justify-content-between tickets-header"> -->
            <div class="tickets-header">
              <span class="spacer">All Tickets </span>From {{ year }} Quarters
              {{ quarter }}
              <div
                class="primeng-dropdown justify-content-end tickets-header-dropdowns"
              >
                <span class="spacer">
                  <p-dropdown
                    [options]="years"
                    [(ngModel)]="year"
                    placeholder="Select Year"
                  />
                </span>
                <p-dropdown
                  [options]="quarters"
                  [(ngModel)]="quarter"
                  placeholder="Select Quarter"
                />
              </div>
              <div class="primeng-dropdown"></div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Ticket Number</th>
              <th>Reporter</th>
              <th>Created At</th>
              <th>Category</th>
              <th>Priority</th>
              <th>Stage</th>
              <th>Actions</th>
              <th>Assignee</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ticket>
            <tr>
              <td>{{ ticket.ticket_id }}</td>
              <td>{{ ticket.reporter }}</td>
              <td>{{ ticket.created_at }}</td>
              <td>{{ ticket.category }}</td>
              <td>{{ ticket.priority }}</td>
              <td>{{ ticket.stage }}</td>
              <td>
                <i class="pi pi-eye space-left" style="font-size: 1rem"></i>
              </td>
              <td>{{ ticket.assignee }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="row">
          <div class="card">
            <br />
            <p>
              Filters
              <i class="pi pi-align-center" style="font-size: 1rem"></i>
            </p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="card">
            <p>Stages</p>
            <p-dropdown
              [options]="stages"
              [(ngModel)]="selectedStage"
              placeholder="Stage"
              class="dropdown"
            />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="card">
            <p>Priority</p>
            <p-dropdown
              [options]="['1', '2', '3']"
              [(ngModel)]="priority"
              placeholder="Priority"
            />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="card">
            <p>Categories</p>
            <p-dropdown
              [options]="categories"
              [(ngModel)]="selectedCategory"
              placeholder="Category"
            />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
